@media only screen and (min-width:200px) and (max-width:575px) {
    #contactButton {
        top: 47%;
    }
    #mobileButton {
        display: block;
    }

    #navbarNav {
        display: none;
        background-color: #002e5b;
    }

    #navbarNav>ul>li>a {
        color: white;
    }

    /* .sliderImage{
        height: auto;
    } */
    .sliderImage {
        height: 40vh;
    }

    #bannerSlider .d-none {
        display: block !important;
    }

    #bannerSlider .bannerSliderContent h2 {
        font-size: 20px;
    }

    #bannerSlider .bannerSliderContent p {
        font-size: 13px;
    }

    #bannerFrame {
        display: none;
    }

    /* #service{
        padding-top: 100px;
    } */
    .serviceContent h2 {
        font-size: 25px;
    }

    #topHeader {
        display: none;
    }

    #about h2 {
        font-size: 32px;
    }

    .headingItems h2 {
        font-size: 32px;
    }

    #serviceSlider .owl-prev {

        left: -30px;
    }

    #serviceSlider .owl-next {
        right: -24px;
    }

    #newsLatterEmail .btn {
        right: 5px;
    }
}

@media only screen and (min-width:576px) and (max-width:992px) {
    #navbarNav {
        background-color: #002e5b;
    }

    #mobileMenu {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    #navbarNav>ul>li>a {
        color: white;
    }

    #topHeader {
        display: none;
    }

    .card-body>h5 {
        font-size: 15px;
    }

    #bannerFrame {
        display: none;
    }

    #bannerSlider .d-none {
        display: block !important;
    }

}