* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

#topHeader {
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);
}

.navbar-brand>i {
    font-size: 14px;
}

header {
    box-shadow: 0px 0px 2px 1px #ccc;
}

.bannerSliderContent h2 {
    font-size: 3.5rem;
}

.bannerSliderContent p {
    font-size: 18px;
}
#bannerSlider .carousel-caption{
    position: absolute;
    top: 25%;

}
/* #bannerSlider .NextPrevIconSlider{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50% ;
    color: black;
} */
#bannerFrame {
    height: 200px;

}

.sliderImage {
    height: 80vh;
}

.headingItems>h2 {
    font-size: 42px;
}

.serviceContent h2 {
    font-size: 42px;
    color: #545454;
}

.serviceContent p {
    font-size: 15px;
}

#job {
    background-color: #f6faff;
}

#job h2 {
    font-size: 42px;
    color: #545454;
}

.jobItemsHeader img {
    width: 80px;
    height: 35px;
}

.jobItemsHeader>p {
    font-size: 22px;
}

.jobItemsHeader>p>span {
    font-size: 14px;
}

.jobItemsHeader>button {
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);
}

.jobItemsHeader>h6>i {
    color: #ed602a;
}

#industries {
    background-color: #eff5ff;
}

#industries h2 {
    font-size: 42px;
    color: #545454;
}

#indrustiesSlider .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#indrustiesSlider .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .owl-next span{
    display: flex;
    justify-content: center;
} */
.card-body>h5 {
    color: #545454;
    font-size: 22px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 40px !important;
}

#about {
    background-color: #f6faff;
}

#about h2 {
    font-size: 42px;
    color: #545454;
}

.aboutItemsImage {
    background-color: #545454;
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

#about h5 {
    font-size: 24px;

}

#about h5>a {
    color: #545454;
}

#about p {
    font-size: 15px;
}

#ourService {
    background-color: #282828;
    padding-bottom: 80px;
}

#serviceSlider .owl-next {
    position: absolute;
    top: 45%;
    right: -43px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#serviceSlider .owl-prev {
    position: absolute;
    top: 45%;
    left: -43px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-body h5 {
    font-size: 20px;
}

#clients {
    background-color: #eff5ff;
}


#clients .owl-theme .owl-dots .owl-dot span {
    margin-top: 50px !important;
    width: 50px;
    height: 10px;
}

#clientSlider .active span {
    color: #e57026;
}

.cardContent>img {
    height: 250px;
}

.btnOrange {
    background-color: #e57026;
}

footer {
    background: rgb(0, 0, 0);
}

.contentItems {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e57026;
}

.footerItems {
    border: 1px solid red;
}

.footerItemsContent>figure>img {
    width: 266px;
    height: 119px;
}

.footerLinkTitle>h2 {
    font-size: 20px;
}

.borderMainDiv {
    left: 20px;
}

.borderDiv {
    border: 2px solid white;

}