* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.whatsappButton:hover .fa-whatsapp{
    transform: rotate(360deg);
}
.emailButton:hover .fa-envelope{
    transform: rotate(360deg);
}
.aboutItems{
    border: 4px solid transparent;
}
.aboutItems:hover{
    border: 4px solid #282828;
}
.arrrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #545454;
    position: fixed;
    bottom: 10%;
    right: 5%;
    z-index: 999;
    align-items: center;
    align-content: center;

}

.arrrow i {
    align-content: center;
    display: flex;

    justify-content: center;

}

#mobileButton {

    display: none;
}

.mobileButtonItems {

    border-right: 1px solid white;
    background-color: #e57026;
}

#contactButton {
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.whatsappButton {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsappButtonContent{
    height: 20px;
    width: 20px;
}
.emailButton {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: #e57026;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsappButton>i {
    transition:  0.5s ease-in-out;
    font-size: 30px;
}
.emailButton>i{
    transition:  0.5s ease-in-out;
}
#topHeader {
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);
}

.navbar-brand>i {
    font-size: 14px;
}

header {
    box-shadow: 0px 0px 2px 1px #ccc;
}

#banner .carousel-control-prev-icon {

    background-color: black;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#banner .carousel-control-next-icon {

    background-color: black;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#banner .carousel-control-next-icon {
    font-size: 10px;
}

#bannerSlider .carousel-indicators {
    display: none;
}

.bannerSliderContent h2 {
    font-size: 3.5rem;
}

.bannerSliderContent p {
    font-size: 18px;
}

#bannerSlider .carousel-caption {
    position: absolute;
    top: 25%;

}

/* #bannerSlider .NextPrevIconSlider{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50% ;
    color: black;
} */
#bannerFrame {
    box-shadow: 0px 0px 2px 0px #ccc;
    background-color: white;
    z-index: 99;
    position: absolute;
    left: 5%;
    bottom: -10%
}

.bannerFramItems {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);


}

.sliderImage {
    height: 80vh;
}

.headingItems>h2 {
    font-size: 42px;
}

.serviceContent h2 {
    font-size: 42px;
    color: #545454;
}

.serviceContent p {
    font-size: 15px;
}

#job {
    background-color: #f6faff;
}

#job h2 {
    font-size: 42px;
    color: #545454;
}

.jobItemsHeader img {
    width: 80px;
    height: 35px;
}

.jobItemsHeader>p {
    font-size: 22px;
}

.jobItemsHeader>p>span {
    font-size: 14px;
}

.jobItemsHeader>button {
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);
}

.jobItemsHeader>h6>i {
    color: #ed602a;
}

#industries {
    background-color: #eff5ff;
}

#industries h2 {
    font-size: 42px;
    color: #545454;
}

#indrustiesSlider .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#indrustiesSlider .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* .owl-next span{
    display: flex;
    justify-content: center;
} */
.card-body>h5 {
    color: #545454;
    font-size: 22px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 40px !important;
}

#about {
    background-color: #f6faff;
}

#about h2 {
    font-size: 42px;
    color: #545454;
}

.aboutItemsImage {
    background-color: #545454;
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

#about h5 {
    font-size: 24px;

}

#about h5>a {
    color: #545454;
}

#about p {
    font-size: 15px;
}

#ourService {
    background-color: #282828;
    padding-bottom: 80px;
}

#serviceSlider .owl-next {
    position: absolute;
    top: 45%;
    right: -43px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#serviceSlider .owl-prev {
    position: absolute;
    top: 45%;
    left: -43px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card-body h5 {
    font-size: 20px;
}

#clients {
    background-color: #eff5ff;
}


#clients .owl-theme .owl-dots .owl-dot span {
    margin-top: 50px !important;
    width: 30px;
    height: 5px;
}

#clientSlider .owl-dot.active span {
    background-color: #e57026;
}

.cardContent>img {
    height: 250px;
}

.btnOrange {
    background-color: #e57026;
}

footer {
    background: rgb(0, 0, 0);
}

.contentItems {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e57026;
}

/* .footerItems {
    border: 1px solid red;
} */

.footerItemsContent>figure>img {
    width: 266px;
    height: 119px;
}

.footerLinkTitle>h2 {
    font-size: 20px;
}

.footerLinkTitle>h2 {
    font-size: 20px;
}

.footerLinkTitle>nav>ul>li>a {
    font-size: 14px;
}

.borderMainDiv {
    left: 20px;
}

.borderDiv {
    border: 2px solid white;

}

#newsLatterEmail .form-control {
    height: 70px;
    border-radius: 10px;
}

#newsLatterEmail .btn {
    color: white;
    z-index: 999;
    position: absolute !important;
    right: 14px;
    top: 14%;
    padding: 20px 42px;
    border: none;
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);
    border-radius: 15px;
    padding: 12px 45px;
}

.newLatterIcon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: -webkit-linear-gradient(0deg, #e57026 0, #ed602a 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .footItems{
    border: 1px solid red;
} */
.footItems>p>i {
    font-size: 12px;
    color: #e57026;
}